# Ignore all example input files
/lib/examples/
/web/public/tmp/
/web/public/js/
/web/public/styles.css
/web/public/*.map
/output
/node_modules
/.npm
/web/public/styles.css

.env
.kamal/certs

README.install.md